[Unit]
Description=Apply overclocks to Nvidia GPUs
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/root/startup.sh

[Install]
WantedBy=multi-user.target